<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  <title>Pergunta</title>
</head>

<body >
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container"> <a class="navbar-brand text-primary" href="/">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b>Home</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/aluno">Aluno</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/prof"> Profissional</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/perg"> Pergunta</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/aluno/new">Questionário</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">Cadastro</h1>
          <p>Relação das perguntas cadastradas</p>		  
          <div class="table-responsive">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>Grupo</th>
                  <th>Pergunta</th>
                  <th>Profissional</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>                
                <% if(!results || results.length == 0) { %>
                  <tr>
                    <td colspan="4">Nenhuma Pergunta cadastrada.</td>
                  </tr>
                  <% } else { results.forEach(function(perg) { %>
                <!-- results foi iterado no arq routes/index.js Pág 202-->
                <tr>
                  <th><%=perg.grupo  %></th>
                  <th><%=perg.pergunta %></th>
                  <th><%=perg.fk_profissional %></th>
                  <th>
                  <a href="/perg/edit/<%= perg.id%>">Editar</a>
                  <a href="/perg/delete/<%= perg.id %>" onclick="return confirm('Tem certeza?');">Excluir</a>
                  </th><!-- pág 207 e 215 -->
                </tr>
                <% })
              } %>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="4">
                    <a href="/perg/new">Cadastrar Novo</a>
                  </th>
                </tr>
              </tfoot>
            </table>
          </div>
          </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 Pingendo - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    if (location.href.indexOf('delete=true') != -1) {
      alert('Pergunta excluída com sucesso!');
    } else if (location.href.indexOf('edit=true') != -1) {
      alert('Pergunta alterada com sucesso!');
    } else if (location.href.indexOf('new=true') != -1) {
      alert('Pergunta cadastrada com sucesso!');
    } else if (location.href.indexOf('erro') != -1) {
      alert('Ocorreu um erro!');
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>